@font-face {
	font-family: 'icomoon';
	src:url('http://www.workflowmax.com/hubfs/icomoon/icomoon.eot?-rxa65r');
	src:url('http://www.workflowmax.com/hubfs/icomoon/icomoon.eot?#iefix-rxa65r') format('embedded-opentype'),
		url('http://www.workflowmax.com/hubfs/icomoon/icomoon.woff?-rxa65r') format('woff'),
		url('http://www.workflowmax.com/hubfs/icomoon/icomoon.ttf?-rxa65r') format('truetype'),
		url('http://www.workflowmax.com/hubfs/icomoon/icomoon.svg?-rxa65r#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-small-business:before {
	content: "\e600";
}
.icon-little-x-01:before {
	content: "\e657";
}
.icon-it-topic:before {
	content: "\e656";
}
.icon-circle:before {
	content: "\e655";
}
.icon-light-bulb:before {
	content: "\e652";
}
.icon-cloud:before {
	content: "\e653";
}
.icon-all-posts:before {
	content: "\e654";
}
.icon-zendeskthis:before {
	content: "\e651";
}
.icon-web-page:before {
	content: "\e64c";
}
.icon-streamlined-invoicing:before {
	content: "\e64d";
}
.icon-it:before {
	content: "\e64e";
}
.icon-xero:before {
	content: "\e64f";
}
.icon-builders:before {
	content: "\e650";
}
.icon-instant-quotes:before {
	content: "\e601";
}
.icon-woman:before {
	content: "\e602";
}
.icon-upload:before {
	content: "\e603";
}
.icon-up:before {
	content: "\e604";
}
.icon-up-sleeve:before {
	content: "\e605";
}
.icon-tools:before {
	content: "\e606";
}
.icon-timer:before {
	content: "\e607";
}
.icon-text:before {
	content: "\e608";
}
.icon-text-cash:before {
	content: "\e609";
}
.icon-talk:before {
	content: "\e60a";
}
.icon-support:before {
	content: "\e60b";
}
.icon-sports:before {
	content: "\e60c";
}
.icon-signal:before {
	content: "\e60d";
}
.icon-settings:before {
	content: "\e60e";
}
.icon-security:before {
	content: "\e60f";
}
.icon-secure-cloud:before {
	content: "\e610";
}
.icon-reset:before {
	content: "\e611";
}
.icon-refresh:before {
	content: "\e612";
}
.icon-ream:before {
	content: "\e613";
}
.icon-protractor:before {
	content: "\e614";
}
.icon-play:before {
	content: "\e615";
}
.icon-pie:before {
	content: "\e616";
}
.icon-phone:before {
	content: "\e617";
}
.icon-paper:before {
	content: "\e618";
}
.icon-notepad:before {
	content: "\e619";
}
.icon-note:before {
	content: "\e61a";
}
.icon-no-table:before {
	content: "\e61b";
}
.icon-no-paper:before {
	content: "\e61c";
}
.icon-network:before {
	content: "\e61d";
}
.icon-month:before {
	content: "\e61e";
}
.icon-mega:before {
	content: "\e61f";
}
.icon-meeting:before {
	content: "\e620";
}
.icon-mail:before {
	content: "\e621";
}
.icon-magnify:before {
	content: "\e622";
}
.icon-locked:before {
	content: "\e623";
}
.icon-lock-fi:before {
	content: "\e624";
}
.icon-laptop:before {
	content: "\e625";
}
.icon-inspection:before {
	content: "\e626";
}
.icon-info:before {
	content: "\e627";
}
.icon-idea:before {
	content: "\e628";
}
.icon-graph:before {
	content: "\e629";
}
.icon-grad:before {
	content: "\e62a";
}
.icon-globe:before {
	content: "\e62b";
}
.icon-gears:before {
	content: "\e62c";
}
.icon-gauge:before {
	content: "\e62d";
}
.icon-flipchart:before {
	content: "\e62e";
}
.icon-flexible-time-tracking:before {
	content: "\e62f";
}
.icon-flag:before {
	content: "\e630";
}
.icon-filing:before {
	content: "\e631";
}
.icon-eye:before {
	content: "\e632";
}
.icon-exclaim:before {
	content: "\e633";
}
.icon-engineers:before {
	content: "\e634";
}
.icon-easy-job-management:before {
	content: "\e635";
}
.icon-down:before {
	content: "\e636";
}
.icon-degree:before {
	content: "\e637";
}
.icon-creative:before {
	content: "\e638";
}
.icon-convo:before {
	content: "\e639";
}
.icon-consultants:before {
	content: "\e63a";
}
.icon-comp-signal:before {
	content: "\e63b";
}
.icon-comment:before {
	content: "\e63c";
}
.icon-clients:before {
	content: "\e63d";
}
.icon-click:before {
	content: "\e63e";
}
.icon-cell:before {
	content: "\e63f";
}
.icon-cell-network:before {
	content: "\e640";
}
.icon-cash:before {
	content: "\e641";
}
.icon-calendar:before {
	content: "\e642";
}
.icon-calculator:before {
	content: "\e643";
}
.icon-bubbles:before {
	content: "\e644";
}
.icon-book:before {
	content: "\e645";
}
.icon-binoc:before {
	content: "\e646";
}
.icon-binders:before {
	content: "\e647";
}
.icon-architects:before {
	content: "\e648";
}
.icon-alarm:before {
	content: "\e649";
}
.icon-actionable-reporting:before {
	content: "\e64a";
}
.icon-hr:before {
	content: "\e64b";
}
.icon-svg:before {
	content: "\e658";
}
