@font-face {
	font-family: "iconfont-3";
	src: url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.eot');
	src: url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.eot?#iefix') format('eot'),
		url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.woff2') format('woff2'),
		url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.woff') format('woff'),
		url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.ttf') format('truetype'),
		url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.svg#iconfont-3') format('svg');
}

.icons {
	&:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-family: "iconfont-3";
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		text-decoration: none;
		text-transform: none;
	}
}
.icons-calculator {
	&:before {
		content: "\E001";
	}
}
.icons-circle-arrow-down {
	&:before {
		content: "\E002";
	}
}
.icons-circle-arrow-left {
	&:before {
		content: "\E003";
	}
}
.icons-circle-arrow-right {
	&:before {
		content: "\E004";
	}
}
.icons-circle-arrow-up {
	&:before {
		content: "\E005";
	}
}
.icons-cloud-up {
	&:before {
		content: "\E006";
	}
}
.icons-document-pencil {
	&:before {
		content: "\E007";
	}
}
.icons-eye {
	&:before {
		content: "\E008";
	}
}
// .icons-freshdesk {
// 	vector {
// 		logo {
// 			icon {
// 				black {
// 					&:before {
// 						content: "\E009";
// 					}
// 				}
// 			}
// 		}
// 	}
// }
.icons-icomoon-actionable-reporting {
	&:before {
		content: "\E00A";
	}
}
.icons-icomoon-alarm {
	&:before {
		content: "\E00B";
	}
}
.icons-icomoon-all-posts {
	&:before {
		content: "\E00C";
	}
}
.icons-icomoon-architects {
	&:before {
		content: "\E00D";
	}
}
.icons-icomoon-binders {
	&:before {
		content: "\E00E";
	}
}
.icons-icomoon-binoc {
	&:before {
		content: "\E00F";
	}
}
.icons-icomoon-book {
	&:before {
		content: "\E010";
	}
}
.icons-icomoon-bubbles {
	&:before {
		content: "\E011";
	}
}
.icons-icomoon-builders {
	&:before {
		content: "\E012";
	}
}
.icons-icomoon-calculator {
	&:before {
		content: "\E013";
	}
}
.icons-icomoon-calendar {
	&:before {
		content: "\E014";
	}
}
.icons-icomoon-cash {
	&:before {
		content: "\E015";
	}
}
.icons-icomoon-cell-network {
	&:before {
		content: "\E016";
	}
}
.icons-icomoon-cell {
	&:before {
		content: "\E017";
	}
}
.icons-icomoon-circle {
	&:before {
		content: "\E018";
	}
}
.icons-icomoon-click {
	&:before {
		content: "\E019";
	}
}
.icons-icomoon-clients {
	&:before {
		content: "\E01A";
	}
}
.icons-icomoon-cloud {
	&:before {
		content: "\E01B";
	}
}
.icons-icomoon-comment {
	&:before {
		content: "\E01C";
	}
}
.icons-icomoon-comp-signal {
	&:before {
		content: "\E01D";
	}
}
.icons-icomoon-consultants {
	&:before {
		content: "\E01E";
	}
}
.icons-icomoon-convo {
	&:before {
		content: "\E01F";
	}
}
.icons-icomoon-creative {
	&:before {
		content: "\E020";
	}
}
.icons-icomoon-degree {
	&:before {
		content: "\E021";
	}
}
.icons-icomoon-down {
	&:before {
		content: "\E022";
	}
}
.icons-icomoon-easy-job-management {
	&:before {
		content: "\E023";
	}
}
.icons-icomoon-engineers {
	&:before {
		content: "\E024";
	}
}
.icons-icomoon-exclaim {
	&:before {
		content: "\E025";
	}
}
.icons-icomoon-eye {
	&:before {
		content: "\E026";
	}
}
.icons-icomoon-filing {
	&:before {
		content: "\E027";
	}
}
.icons-icomoon-flag {
	&:before {
		content: "\E028";
	}
}
.icons-icomoon-flexible-time-tracking {
	&:before {
		content: "\E029";
	}
}
.icons-icomoon-flipchart {
	&:before {
		content: "\E02A";
	}
}
.icons-icomoon-gauge {
	&:before {
		content: "\E02B";
	}
}
.icons-icomoon-gears {
	&:before {
		content: "\E02C";
	}
}
.icons-icomoon-globe {
	&:before {
		content: "\E02D";
	}
}
.icons-icomoon-grad {
	&:before {
		content: "\E02E";
	}
}
.icons-icomoon-graph {
	&:before {
		content: "\E02F";
	}
}
.icons-icomoon-hr {
	&:before {
		content: "\E030";
	}
}
.icons-icomoon-idea {
	&:before {
		content: "\E031";
	}
}
.icons-icomoon-info {
	&:before {
		content: "\E032";
	}
}
.icons-icomoon-inspection {
	&:before {
		content: "\E033";
	}
}
.icons-icomoon-instant-quotes {
	&:before {
		content: "\E034";
	}
}
.icons-icomoon-it-topic {
	&:before {
		content: "\E035";
	}
}
.icons-icomoon-it {
	&:before {
		content: "\E036";
	}
}
.icons-icomoon-laptop {
	&:before {
		content: "\E037";
	}
}
.icons-icomoon-light-bulb {
	&:before {
		content: "\E038";
	}
}
.icons-icomoon-little-x-01 {
	&:before {
		content: "\E039";
	}
}
.icons-icomoon-lock-fi {
	&:before {
		content: "\E03A";
	}
}
.icons-icomoon-locked {
	&:before {
		content: "\E03B";
	}
}
.icons-icomoon-magnify {
	&:before {
		content: "\E03C";
	}
}
.icons-icomoon-mail {
	&:before {
		content: "\E03D";
	}
}
.icons-icomoon-meeting {
	&:before {
		content: "\E03E";
	}
}
.icons-icomoon-mega {
	&:before {
		content: "\E03F";
	}
}
.icons-icomoon-month {
	&:before {
		content: "\E040";
	}
}
.icons-icomoon-network {
	&:before {
		content: "\E041";
	}
}
.icons-icomoon-no-paper {
	&:before {
		content: "\E042";
	}
}
.icons-icomoon-no-table {
	&:before {
		content: "\E043";
	}
}
.icons-icomoon-note {
	&:before {
		content: "\E044";
	}
}
.icons-icomoon-notepad {
	&:before {
		content: "\E045";
	}
}
.icons-icomoon-paper {
	&:before {
		content: "\E046";
	}
}
.icons-icomoon-phone {
	&:before {
		content: "\E047";
	}
}
.icons-icomoon-pie {
	&:before {
		content: "\E048";
	}
}
.icons-icomoon-play {
	&:before {
		content: "\E049";
	}
}
.icons-icomoon-protractor {
	&:before {
		content: "\E04A";
	}
}
.icons-icomoon-ream {
	&:before {
		content: "\E04B";
	}
}
.icons-icomoon-refresh {
	&:before {
		content: "\E04C";
	}
}
.icons-icomoon-reset {
	&:before {
		content: "\E04D";
	}
}
.icons-icomoon-secure-cloud {
	&:before {
		content: "\E04E";
	}
}
.icons-icomoon-security {
	&:before {
		content: "\E04F";
	}
}
.icons-icomoon-settings {
	&:before {
		content: "\E050";
	}
}
.icons-icomoon-signal {
	&:before {
		content: "\E051";
	}
}
.icons-icomoon-small-business {
	&:before {
		content: "\E052";
	}
}
.icons-icomoon-sports {
	&:before {
		content: "\E053";
	}
}
.icons-icomoon-streamlined-invoicing {
	&:before {
		content: "\E054";
	}
}
.icons-icomoon-support {
	&:before {
		content: "\E055";
	}
}
.icons-icomoon-svg {
	&:before {
		content: "\E056";
	}
}
.icons-icomoon-talk {
	&:before {
		content: "\E057";
	}
}
.icons-icomoon-text-cash {
	&:before {
		content: "\E058";
	}
}
.icons-icomoon-text {
	&:before {
		content: "\E059";
	}
}
.icons-icomoon-timer {
	&:before {
		content: "\E05A";
	}
}
.icons-icomoon-tools {
	&:before {
		content: "\E05B";
	}
}
.icons-icomoon-up-sleeve {
	&:before {
		content: "\E05C";
	}
}
.icons-icomoon-up {
	&:before {
		content: "\E05D";
	}
}
.icons-icomoon-upload {
	&:before {
		content: "\E05E";
	}
}
.icons-icomoon-web-page {
	&:before {
		content: "\E05F";
	}
}
.icons-icomoon-woman {
	&:before {
		content: "\E060";
	}
}
.icons-icomoon-xero {
	&:before {
		content: "\E061";
	}
}
.icons-icomoon-zendeskthis {
	&:before {
		content: "\E062";
	}
}
.icons-invoice {
	&:before {
		content: "\E063";
	}
}
.icons-magnify {
	&:before {
		content: "\E064";
	}
}
.icons-mobile-computing {
	&:before {
		content: "\E065";
	}
}
.icons-seo-marketing {
	&:before {
		content: "\E066";
	}
}
.icons-team-collaboration-flowchart {
	&:before {
		content: "\E067";
	}
}
.icons-time-tracking {
	&:before {
		content: "\E068";
	}
}
.icons-xero {
	&:before {
		content: "\E069";
	}
}