@import 'slick.less';
@import 'icons.less';
@import 'icomoon.less';
@import 'elements.less';


@wfm-orange: #f60;
@wfm-green: #45B449;
@wfm-grey: #54616f;
@wfm-darkgrey: #243643;
@wfm-blog-blue: #59cfe9;
@wfm-grey-0: average(@wfm-grey, #000);
@wfm-grey-1: average(@wfm-grey, #333);
@wfm-grey-2: average(@wfm-grey, #444);
@wfm-grey-3: average(@wfm-grey, #666);
@wfm-grey-4: average(@wfm-grey, #999);
@wfm-grey-5: average(@wfm-grey, #ccc);
@wfm-grey-6: average(@wfm-grey, #fff);
@wfm-lightgrey-0: screen(@wfm-grey, #111);
@wfm-lightgrey-1: screen(@wfm-grey, #333);
@wfm-lightgrey-2: screen(@wfm-grey, #555);
@wfm-lightgrey-3: screen(@wfm-grey, #777);
@wfm-lightgrey-4: screen(@wfm-grey, #999);
@wfm-lightgrey-5: screen(@wfm-grey, #ccc);
@wfm-lightgrey-6: screen(@wfm-grey, #ddd);
@wfm-lightgrey-7: screen(@wfm-grey, #eee);
@wfm-darkgrey-0: multiply(@wfm-grey, #eee);
@wfm-darkgrey-1: multiply(@wfm-grey, #ccc);
@wfm-darkgrey-2: multiply(@wfm-grey, #999);
@wfm-darkgrey-3: multiply(@wfm-grey, #777);
@wfm-darkgrey-4: multiply(@wfm-grey, #555);
@wfm-darkgrey-5: multiply(@wfm-grey, #333);
@wfm-darkgrey-6: multiply(@wfm-grey, #111);
@wfm-green-0: overlay(@wfm-green, #000);
@wfm-green-1: overlay(@wfm-green, #333);
@wfm-green-2: overlay(@wfm-green, #444);
@wfm-green-3: overlay(@wfm-green, #666);
@wfm-green-4: overlay(@wfm-green, #888);
@wfm-green-5: overlay(@wfm-green, #ccc);
@wfm-green-6: overlay(@wfm-green, #fff);
@wfm-orange-0: overlay(@wfm-orange, #eee);
@wfm-orange-1: overlay(@wfm-orange, #ccc);
@wfm-orange-2: overlay(@wfm-orange, #999);
@wfm-orange-3: overlay(@wfm-orange, #777);
@wfm-orange-4: overlay(@wfm-orange, #555);
@wfm-orange-5: overlay(@wfm-orange, #333);
@wfm-orange-6: overlay(@wfm-orange, #111);
@wfm-blog-link: @wfm-green;
@wfm-blog-link-hover: darken(@wfm-green, 10%);
@xero-blue:#00B7E3;
@wfm-lightgrey-section-bg : #eceff1;

/*************************************/

.play-video {
    width: 100px;
    height: 100px;
    border: none;
    background: none;
    background-image: url('http://cdn2.hubspot.net/hub/325051/file-701902433-png/play-btn-green.png?t=1458600450878');
    background-repeat: no-repeat;
    border-radius: 50px;
}

.hs-cta-wrapper {
    .orange-signup-cta {
        small {
            margin: 0;
            color:@wfm-grey-3;
            
        }
    }
}





.industry-page-v2 {
    @import 'quick-signup-form.less';
    h1,h2,h3,h4 {
        -webkit-font-smoothing: antialiased;
    }
    
    h1 {
        letter-spacing: -0.02em;
    }

    p {
        color:@wfm-grey;
        a {
            color:@wfm-grey;
            font-family: 'national_regular';
            .link-reset;
            .link-underline;
            
            
                        color: inherit;
                        color: @wfm-grey-2;
                        text-decoration: none;
                        border-bottom: 1px solid @wfm-lightgrey-6;
                        &:hover {
                            color: @wfm-grey;
                            border-bottom: 1px solid @wfm-lightgrey-4;
                        }
                    
            
            
        }
    }
    .page-intro-content {
        padding: 3.4em 0 2.3em;
        .intro {
            p {
                font-size: 0.95em;
                line-height: 1.3em;
                margin: 0;
                color:@wfm-grey-4;
                .engineers&{
                    font-size:0.9em;
                }
            }
        }
        @media (max-width:1000px) {
            margin:0 2%;
        }
    }
    .page-content {
        overflow: hidden;
        padding: 80px 0;
        
        @media (max-width:1000px) {
            padding-left:2%;
            padding-right:2%;
        }
        
        .page-content-header {
            h2 {
                // font-size: 2.6em;
                font-size: 38px;
                font-family: 'national_regular';
                letter-spacing: -0.015em;
                margin: 0;
                text-align: center;
                margin-bottom: 1em;
            }
        }
        > div > div > div > div.widget-type-rich_text {
            text-align: center;
            p {
                font-size: 24px;
                line-height: 1.3em;
                margin: 1.5em 0;
                color: @wfm-grey;
                // font-family: 'national_light';
                // -webkit-font-smoothing: antialiased;
            }
            &.bottom-description {
                padding-top: 2em;
                p {
                    margin: 1em 0 0;
                }
            }
        }
        &.grey {
            // background:grey;
            background: @wfm-lightgrey-section-bg;
            overflow: hidden;
            width: 100%;
            max-width: none;
            // margin:0!important;
            // padding:0;
            .span12 {
                max-width: 960px;
                margin: 0 auto;
                float: none;
            }
        }
        &.grey-fade-down {
            // background:grey;
            // background: @wfm-lightgrey-section-bg;
            .gradient(@wfm-lightgrey-section-bg, @wfm-lightgrey-6, white);
            overflow: hidden;
            width: 100%;
            max-width: none;
            // margin:0!important;
            // padding:0;
            .span12 {
                max-width: 960px;
                margin: 0 auto;
                float: none;
            }
        }
    }
    // end page-content
    #hero-wrapper {
        max-width: 960px;
        // height:200px;
        // background: @wfm-lightgrey-6;
        margin: 0 auto;
        .rounded(15px);
        // border-radius: 15px;
        overflow: hidden;
        box-sizing: border-box;
        transition: 0.5s;
        &:hover {
            .box-shadow(12px, fade(@wfm-darkgrey-2, 25%));
        }
        @media (max-width:1000px) {
            // margin:0 2%;
            .rounded(0px);
            &:hover {
                // .box-shadow(none);
            }
            
        }
    }
    #hero {
        
        padding: 3em 4em;
        box-sizing: border-box;
        display: block;
        position: relative;
        cursor: pointer;


        background-color: white;
        background-image: url('http://www.workflowmax.com/hubfs/agency-hero-bg-1.jpg');
        .engineers& {
            background-image: none;
            background:black;
            background-image:url('http://www.workflowmax.com/hubfs/engineers-ip-2-bghero-2.jpeg');
            background-size:auto 100%;
            background-position: -55px 0px;
            .ua-gecko & {
                background-position: -125px 0px;
            }
            background-repeat:no-repeat;
            @media (max-width:880px){
                background:none;
                background:@wfm-darkgrey-4;
                
            }
            
        }
        
        .consultants& {
            
            background-image:url('http://www.workflowmax.com/hubfs/consultant-bg-1.jpeg');
            // background-size: 550%;
        }
        
        .it-services&{

            background-image:url('http://www.workflowmax.com/hubfs/it-hero-bg.png');
        }
        
        background-repeat: no-repeat;
        background-size: 103%;
        // 
        @media (max-width:880px){
            background:none;
            background:@wfm-lightgrey-section-bg;
            
        }
        
        
        h2 {
            text-align: left;
            font-family: 'national_semibold';
            letter-spacing: -0.015em;
            color: @wfm-green;
            font-size: 2.6em;
            line-height: 0.9em;
            margin: 0;
            margin-bottom: 0.4em;
            text-rendering: optimizeLegibility !important;
            -webkit-font-smoothing: antialiased;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
            @media (max-width:880px){
                text-align:center;
                br {
                    display:none;
                }
            }
            .mobile {
                display:none;
                @media (max-width:880px){
                    display:inline;
                }
            }
        }
        blockquote {
            // font-family:'national_regular';
            padding: 0;
            text-align: left;
            margin: 0;
            font-size: 1.4em;
            color: @wfm-grey-5;
            width: 100%;
            max-width: 300px;
            line-height: 1.3em;
            font-weight: 600;
            cite {
                display: block;
                font-size: 0.6em;
                // font-family: 'national_regular';
                font-family: 'national_light';
                font-style: normal;
                color: @wfm-grey-4;
                letter-spacing: 0.02em;
                margin-top: 0.7em;
                text-transform: uppercase;
                line-height: 1.1em;
                strong {
                    font-family: 'national_regular';
                    color: @wfm-grey-3;
                }
            }
            @media (max-width:880px){
                max-width:none;
                text-align:center;
                width:80%;
                margin:0 auto;
                br {
                    display:none;
                }
            }
        }
        .play-video {
            position: absolute;
            // margin-top:-50%;
            margin-top: -50px;
            margin-left: -50px;
            top: 50%;
            left: 50%;
            transition: 0.1s;
            .scale(0.92);
            @media (max-width:880px){
                display:none;
            }
        }
        &:hover {
            .play-video {
                .scale(1);
            }
        }
        
        .mobile-play-video {
            display:none;
            text-align:center;
            margin:1.5em 0 0;
            @media (max-width:880px){
                display:block;
                
            }
        }
        
        .wistia-wrap {
            width: 100%;
            height: 100%;
            // background:red;
            position: absolute;
            top: 0;
            left: 0;
            // z-index: 999;
            a {
                // background:green;
                width: 100%;
                height: 100%;
                display: block;
            }
        }
    } // end #hero
    .features.page-content {
        // background:yellow;
        padding-top: 1.8em;
        h2 {
            margin-bottom: 1.4em;
        }
        
        
        .icons {
            &:before {
                color: @wfm-green;
                opacity: 0.8;
            }
            // -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            &.icons-cloud-up:before {}
            &.icons-document-pencil:before {
                font-size: 0.9em;
            }
            &.icons-eye:before {}
            &.icons-magnify:before {
                font-size: 0.85em;
            }
            &.icons-mobile-computing:before {
                font-size: 1.1em;
            }
            &.icons-seo-marketing:before {}
            &.icons-team-collaboration-flowchart:before {
                font-size: 0.9em;
            }
            &.icons-time-tracking:before {}
            &.icons-xero:before {
                font-size: 0.9em;
                color: @xero-blue;
            }
            
            &.icon-reset:before {
                font-size:0.8em;
            }
            
            &.icon-note:before {
                font-size:0.8em;
            }
            
            &.icon-tools:before {
                font-size:0.8em;
            }
            &.icon-graph:before {
                font-size:0.8em;
            }
        }
        
        
        .feature-group {
            min-height:215px;
            &:hover {
                .icons {
                    &:before {
                        opacity: 1;
                    }
                }
            }
            margin: 0;
            .feature-icon {
                color: lighten(@wfm-green, 10%);
            }
            h4 {
                // color:inherit;
                font-size: 1.6em;
                letter-spacing: -0.010em;
                color: @wfm-grey-3;
                margin-bottom: 0.3em;
                font-family: 'national_regular';
                font-weight: 500;
                a {
                    border: none;
                    color: inherit;
                    border-bottom: 1px solid @wfm-lightgrey-5;
                }
            }
            .description {
                margin: 0;
                color: @wfm-grey-4;
                font-size:18px;
                line-height:1.3em;
                min-height:28px;
                padding-bottom:58px;
                padding-right:20px;
                margin-top:0.2em;
                
                
                
            }
            &:hover {
                h4 {
                    a {
                        border-bottom: 1px solid @wfm-green;
                    }
                }
                .feature-icon {
                    color: lighten(@wfm-green, 10%);
                }
            }
        }
    } // end features
    #video-section {
        padding: 4em 0;
        @media (max-width:1040px){
            padding:4em 4%;
        }
        .box-sizing(border-box);
        .text {
            padding: 0 2em;
            box-sizing: border-box;
        }
        .page-content-header {
        h2 {
                text-align: left;
                margin: 0;
                font-size: 2.2em;
                @media (max-width:930px){
                    margin-top:1em;
                    font-size:1.7em;
                }
            }
        }
        p {
            // font-weight: 800;
            // font-size: 1.2em;
            color:@wfm-grey-4;
            @media (max-width:930px){
                font-size:1.2em;
            }
            line-height: 1.3em;
            margin-top: 0.4em;
            margin-bottom: 0;
        }
        .video {
            img {
                 @media (max-width:767px){
                    width:70%;
                }   
                .box-shadow(0 0 10px 0 @wfm-lightgrey-5);
                .rounded(15px);
                &:hover {
                    .box-shadow(0 0 10px 0 @wfm-lightgrey-4);
                }
                
            }
        }
    }
    #use-case {
        overflow: hidden;
        max-width:860px;
        .page-content-header {
            h2 {
                margin-bottom:1.5em;
            }
        }
        .use-case-container {
            .use-case-item {
                .image-wrap {
                    @media (max-width:767px){
                        display:block;
                        width:100%;
                        overflow:hidden;
                        text-align:center;
                        margin:0 0 1em;
                    }
                }
            
                @useCaseImageMargin:3em;
                // default img style incase svg injection fails
                .image {
                    float: left;
                    border-radius: 200px;
                    width: 200px;
                    height: 200px;
                    background: none;
                    margin-right: @useCaseImageMargin;
                    border: none;
                    @media (max-width:767px){
                        width:50px;
                        height:50px;
                        margin:0 auto;
                        float:none;
                        
                    }
                }
                
                
                // animate svg
                svg.image {
                    * {
                        transition: 0.5s;
                        transition-timing-function: cubic-bezier;
                    }
                    circle {
                        opacity: 0.4;
                    }
                    g#person {
                        opacity: 0.85;
                    }
                }
                
                
                &:nth-of-type(even) {
                    // text-align:right
                    .image {
                        float: right;
                        margin-right: 0;
                        margin-left: @useCaseImageMargin;
                        @media (max-width:767px){
                            margin:0 auto;
                            float:none;
                        }
                    }
                }
                
                
                &:hover {
                    svg {
                        g#person {
                            opacity: 1;
                            -webkit-filter: drop-shadow( 0px 0px 5px #000);
                            filter: drop-shadow( 0px 0px 5px #000);
                        }
                        circle {
                            opacity: 0.8;
                        }
                    }
                }
                margin: 0 auto 3em;
                overflow: hidden;
                .text-wrap {
                    height:200px;
                    @media (min-width:767px){
                        // .flex-align-center;    
                    }
                    @media (max-width:767px){
                        height:auto;
                    }
                    
                    .text {
                        overflow:hidden;
                    }
                    
                }
                h3 {
                    // color: red;
                    font-size: 1.7em;
                    color: @wfm-grey-3;
                    // text-transform:uppercase;
                    margin: 0;
                    font-family: 'national_regular';
                    // font-weight:600;
                    -webkit-font-smoothing:subpixel-antialiasing;
                    // -webkit-font-smoothing:antialiased;
                    letter-spacing: -0.01em;
                }
                p {
                    display: inline-block;
                    color:@wfm-grey-4;
                }
            }
        }
    } // .use-cases
    #reviews {
        .page-content.grey;
        @media (max-width:767px){
            padding:3em 0;
        }
        @media (max-width:656px){
            padding:3em 3em;
            .box-sizing(border-box);
        }
        h2 {
            margin-bottom: 1em;
        }
        .reviews-container {
            max-width: 850px;
            margin: 0 auto;
            .reviews-item {
                width: 40%;
                float: left;
                margin: 0 5%;
                text-align: center;
                .image-wrap {
                    height: 70px;
                    // background:green;
                    // overflow:hidden;
                    .flex-align-center;
                    img {
                        background: none;
                        max-width: 230px;
                        .white-glow;
                        .ua-gecko & {
                            filter: none;
                            max-width:none;
                            width:250px;
                            @media (max-width:656px){
                                width:150px!important;
                            }
                        }
                        
                    }
                }
                h3 {
                    font-size: 2em;
                    color: @wfm-grey-2;
                    margin: 0;
                    display: none;
                }
                .svg-rating {
                    margin: 1em auto 1em;
                    text-align: center;
                    .star {
                        margin-right: -5px;
                        svg {
                            > polygon {
                                fill: @wfm-lightgrey-4;
                            }
                        }
                    }
                    .number-rating {
                        display: block;
                        padding-top: 2px;
                        strong {
                            font-family: 'national_regular';
                            color: @wfm-grey-4;
                            font-size: 1.8em;
                            letter-spacing: -0.05em;
                        }
                    }
                }
                .link {
                    font-size: 1.4em;
                    line-height: 1.3em;
                    a {
                        text-decoration: none;
                        color: @wfm-grey-4;
                        border-bottom: 2px solid @wfm-lightgrey-5;
                        &:hover {
                            color: @wfm-grey-3;
                            border-bottom: 2px solid @wfm-lightgrey-4;
                        }
                    }
                }
                @media (max-width:550px){
                    width:100%;
                }
            }
        }
    } // #reviews
    #case-studies {
        // padding:2em 0;
        .case-studies-item {
            
            max-width: 840px;
            margin: 0 auto;
            overflow: hidden;
            // margin:3em 0 4em;
            .row-fluid {
                margin-top: 2em;
            }
            .image-wrap {
                // float:right;
                // background: red;
                overflow: hidden;
                width: 100%;
                height: 180px;
                border-radius: 10px;
                text-align: right;
                position:relative;
                .flex-align-center;
                img {
                    border-radius: 10px;
                    width: 100%;
                }
                .play-button {
                    position:absolute;
                    margin-left:-37.5px;
                    margin-top:-37.5px;
                    top:50%;
                    left:50%;
                    z-index: 9;
                    width:75px;
                    height:75px;
                    // background:green;
                    background:url('http://cdn2.hubspot.net/hub/325051/file-701902433-png/play-btn-green.png');
                    background-size:75px 75px;
                }
                @media (max-width:767px){
                    width:300px;
                    margin:0 auto;
                }
                @media (max-width:401px){
                    width:200px;
                }
            }
            h3 {
                text-align: center;
                font-size: 2.2em;
                color: @wfm-grey-3;
                letter-spacing: -0.01em;
                margin: 0 0.5em;
                @media (max-width:767px){
                    font-size:1.5em;
                    margin-top:1em;
                    display:none;
                }
                &.mobile-title {
                    display:none;
                    @media (max-width:767px){
                        display:block;

                    }
                }
            }
            .text {
                max-width: 70%;
                p {
                    margin-top: 0;
                    margin-bottom: 0em;
                }
                ul {
                    margin: 0.7em 0 1em;
                    padding-left: 1.5em;
                    li {
                        margin: 0;
                        color:@wfm-grey;
                    }
                }
                @media (max-width:767px){
                    display:none;
                }
            }
            .orange-cta-small {
                display: inline-block;
                margin-bottom: 10px;
                font-family: 'national_semibold';
                letter-spacing: 0.05em;
                a {
                    color:inherit;
                    text-decoration:none;

                }
            }
            a {
                .link-reset;
            }
            @media (max-width:990px){
                max-width:none;
                width:80%;
            }
            
        } // case-studies-item
        
        // slick customisation
        
        .slick-slider {
            margin-bottom:0;
        }
        
        @slickNavOffset:-2px;
        .slick-next,.slick-prev {
            top:0;
            height:100%;
            background:white;
            width:40px;
            background-image:none;
            opacity:1;
            .box-shadow(0 0 3px 2px white);
            .icons;
            &:before {
                margin:0 auto;
                width:32px;
                height:32px;
                font-size:32px;
                color:@wfm-green;
                display:block;
                opacity:0.9;
            }
            &:hover {
                &:before {
                    opacity:1;
                }
            }
            
        }
        .slick-prev {
            left: @slickNavOffset;
            .icons-circle-arrow-left;
        }
        .slick-next {
            right: @slickNavOffset;
            .icons-circle-arrow-right;
        }
    } // #case-studies
    #add-ons {
        .box-sizing(border-box);
        h2 {
            margin-bottom: 0;
        }
        .add-on-items-container {
            overflow: hidden;
            .add-on-item {
                text-align: center;
                width: 23.333%;
                margin: 0 5%;
                float: left;
                .box-sizing(border-box);
                @media (max-width:767px){
                    width:70%;
                    margin:0 auto 2em;
                    float:none;
                    
                    
                }
                h3 {
                    font-size: 1.5em;
                    letter-spacing: -0.025em;
                    font-family: 'national_semibold';
                    color: @wfm-grey-3;
                    font-weight: 100;
                    margin: 0.8em 0 0.6em;
                    text-transform: uppercase;
                    a {
                        text-decoration: none;
                        color: inherit;
                        border-bottom: 1px solid @wfm-lightgrey-5;
                        &:hover {
                            border-bottom: 1px solid @wfm-lightgrey-4;
                            color: @wfm-grey-3;
                        }
                    }
                }
                p.description {
                    font-size:18px;
                    line-height: 1.3em;
                    margin: 0;
                }
                .image-wrap {
                    background: white;
                    width: 200px;
                    height: 200px;
                    margin: 0 auto;
                    border-radius: 200px;
                    display: block;
                    overflow: hidden;
                    @media (max-width:767px){
                        width:100px;
                        height:100px;
                    }
                    a {
                        width: 100%;
                        height: 100%;
                        .flex-align-center;
                    }
                    .ua-safari &,
                    .ua-ie & {
                        position: relative;
                        a {
                            display: block;
                            overflow: hidden;
                            position: absolute;
                            top: 50%;
                            margin-top: -70px;
                            text-decoration: none;
                        }
                    }
                    img {
                        max-height: 140px;
                        max-width: 180px;
                        @media (max-width:767px){
                            max-width:90px;
                            max-height:70px;
                        }
                    }
                } // image-wrap
            }
        }
    } // #add-ons
    #faq {
        padding-bottom: 0;
        h2 {
            margin-bottom: 1em;
        }
        .faq-container {
            .faq-col {
                width: 45%;
                float: left;
                margin: 0 2.5%;
                @media (max-width:767px){
                    width:95%;
                }
            }
            overflow:hidden;
            padding:0;
            .faq-item {
                cursor: pointer;
                display: block;
                margin: 1em 0 2em;
                box-sizing: border-box;
                p {
                    font-size:18px;
                    @media (max-width:960px){
                        font-size:18px;
                    }
                }
                .question {
                    background: @wfm-lightgrey-6;
                    border-radius: 10px;
                    padding: 0.7em 2em;
                    position: relative;
                    box-sizing: border-box;
                    min-height: 136px;
                    @media (max-width:960px){
                        min-height:156px;
                    }
                    @media (max-width:767px){
                        min-height:auto;
                    }
                    .button {
                        text-align: center;
                        position: absolute;
                        bottom: -18px;
                        width: 85%;
                        span:before {
                            font-size: 25px;
                            color: @wfm-grey;
                        }
                    }
                }
                &:hover {
                    .question {
                        .button {
                            bottom: -22px;
                            transition: 0.3s;
                            transition-timing-function: cubic-bezier;
                            span:before {
                                transition: 0.3s;
                                color: @wfm-green;
                            }
                        }
                    }
                }
                .answer {
                    margin: 2em 5% 3em;
                    cursor: initial;
                    display: block;
                    overflow: hidden;
                    p:nth-child(1) {
                        margin-top: 0;
                    }
                }
            }
        }
        .see-more-faq {
            margin: 5em 0;
            width: 100%;
            // background:red;
            p {
                text-align: center;
                text-transform: uppercase;
                font-size: 1.4em;
                a {
                    color: inherit;
                    color: @wfm-grey-4;
                    text-decoration: none;
                    border-bottom: 1px solid @wfm-lightgrey-6;
                    &:hover {
                        color: @wfm-grey-3;
                        border-bottom: 1px solid @wfm-lightgrey-4;
                    }
                }
            }
        }
    } // #faq
    #end-cta {
        // background:grey;
        // padding:0
        padding-top: 10px;
        
        @media (min-width:980px){
            .page-content.grey-fade-down;
        }
        @media (max-width:980px){
            .page-content;
        }
        .bottom-cta {
            @media (min-width:980px){
                background: white;
                padding: 4em 4em 2em;
                .box-shadow(0 0 10px 0 @wfm-lightgrey-5);
                box-sizing: border-box;
            }
            h2 {
                font-family: 'national_regular';
                margin: 0;
            }
            p {
                // display:none;
                font-size: 1.3em;
            }
        }
    } // #end-cta
    #extra {
        .engineers&{
            // display:none;
        }
        .extra-content-container {
            .extra-item {
                float: left;
                width: 45%;
                margin: 0 2.5%;
                @media (max-width:767px){
                    float:none;
                    width:80%;
                    margin:0 auto 1em;
                    max-width:400px;
                }
            }
        }
    } // #extra
    .footer-cta-learn-attend-ask{
        p {
            a {
                .link-reset;
                font-family:inherit;
                color:@wfm-lightgrey-0;
            }
        }
    }
    
} // .industry-page-v2



ul {
    li {
        font-size: 19px;
        line-height: 25px;
    }
}


.footer-cta {
    h2 {
        font-size: 24px;
        font-family: 'national_regular';
        font-weight: normal;
        margin: 0;
        text-align: left;
    }
}





/************************/

// mixins

.link-reset {
    color:inherit;
    text-decoration:none;
}

.link-underline {
    border-bottom:1px solid @wfm-lightgrey-6;
    &:hover {
        border-bottom:1px solid @wfm-lightgrey-4;
    }
}


.box-shadow(@blur: 10px,
@color: #000) {
    -webkit-box-shadow: 0 0 @blur 0 @color;
    -moz-box-shadow: 0 0 @blur 0 @color;
    box-shadow: 0 0 @blur 0 @color;
}

.page-content-fullwidth {
    overflow: hidden;
    width: 100%;
    max-width: none;
    > div > div {
        max-width: 960px;
        margin: 0 auto;
        float: none;
    }
}

.flex-align-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.white-glow {
    -webkit-filter: drop-shadow(0px 0px 25px #fff);
    filter: url(#drop-shadow);
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
}




.hide-children {
    display:none;
    * {
        display:none;
    }
}