/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("http://www.workflowmax.com/hubfs/_iconfonts/slick.eot");
  src: url("http://www.workflowmax.com/hubfs/_iconfonts/slick.eot?#iefix") format("embedded-opentype"), url("http://www.workflowmax.com/hubfs/_iconfonts/slick.woff") format("woff"), url("http://www.workflowmax.com/hubfs/_iconfonts/slick.ttf") format("truetype"), url("http://www.workflowmax.com/hubfs/_iconfonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
/* Dots */
/*# sourceMappingURL=slick.css.map */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 30px;
}
.slick-slider .slick-track {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-loading .slick-list {
  background: #fff url("ajax-loader.gif") center center no-repeat;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before {
  content: "";
  display: table;
}
.slick-track:after {
  content: "";
  display: table;
  clear: both;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.slick-slide img {
  display: block;
}
[dir="rtl"] .slick-slide {
  float: right;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
[dir="rtl"] .slick-next:before {
  content: "←";
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-nav-style {
  font-family: "slick";
  font-size: 2em;
  line-height: 1;
  color: #45B449;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  left: -25px;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-image: url('http://www.workflowmax.com/hubfs/green-circle-left-arrow.png');
}
.slick-prev:hover {
  opacity: 1;
}
.slick-prev:focus {
  opacity: 1;
}
.slick-prev:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: #54616f;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "←";
  display: none;
}
.slick-next {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
  right: -25px;
  opacity: 0.9;
  background-repeat: no-repeat;
  background-image: url('http://www.workflowmax.com/hs-fs/hub/325051/file-708215075-png/green-circle-right-arrow.png');
}
.slick-next:hover {
  opacity: 1;
}
.slick-next:focus {
  opacity: 1;
}
.slick-next:before {
  font-size: 20px;
  color: #54616f;
  content: "→";
  font-family: "slick";
  font-size: 2em;
  line-height: 1;
  color: #45B449;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev.slick-disabled:before {
  opacity: 0.25;
}
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover {
  outline: none;
}
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}
@font-face {
  font-family: "iconfont-3";
  src: url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.eot');
  src: url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.eot?#iefix') format('eot'), url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.woff2') format('woff2'), url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.woff') format('woff'), url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.ttf') format('truetype'), url('http://www.workflowmax.com/hubfs/_iconfonts/iconfont-3.svg#iconfont-3') format('svg');
}
.icons:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "iconfont-3";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}
.icons-calculator:before {
  content: "\E001";
}
.icons-circle-arrow-down:before {
  content: "\E002";
}
.icons-circle-arrow-left:before {
  content: "\E003";
}
.icons-circle-arrow-right:before {
  content: "\E004";
}
.icons-circle-arrow-up:before {
  content: "\E005";
}
.icons-cloud-up:before {
  content: "\E006";
}
.icons-document-pencil:before {
  content: "\E007";
}
.icons-eye:before {
  content: "\E008";
}
.icons-icomoon-actionable-reporting:before {
  content: "\E00A";
}
.icons-icomoon-alarm:before {
  content: "\E00B";
}
.icons-icomoon-all-posts:before {
  content: "\E00C";
}
.icons-icomoon-architects:before {
  content: "\E00D";
}
.icons-icomoon-binders:before {
  content: "\E00E";
}
.icons-icomoon-binoc:before {
  content: "\E00F";
}
.icons-icomoon-book:before {
  content: "\E010";
}
.icons-icomoon-bubbles:before {
  content: "\E011";
}
.icons-icomoon-builders:before {
  content: "\E012";
}
.icons-icomoon-calculator:before {
  content: "\E013";
}
.icons-icomoon-calendar:before {
  content: "\E014";
}
.icons-icomoon-cash:before {
  content: "\E015";
}
.icons-icomoon-cell-network:before {
  content: "\E016";
}
.icons-icomoon-cell:before {
  content: "\E017";
}
.icons-icomoon-circle:before {
  content: "\E018";
}
.icons-icomoon-click:before {
  content: "\E019";
}
.icons-icomoon-clients:before {
  content: "\E01A";
}
.icons-icomoon-cloud:before {
  content: "\E01B";
}
.icons-icomoon-comment:before {
  content: "\E01C";
}
.icons-icomoon-comp-signal:before {
  content: "\E01D";
}
.icons-icomoon-consultants:before {
  content: "\E01E";
}
.icons-icomoon-convo:before {
  content: "\E01F";
}
.icons-icomoon-creative:before {
  content: "\E020";
}
.icons-icomoon-degree:before {
  content: "\E021";
}
.icons-icomoon-down:before {
  content: "\E022";
}
.icons-icomoon-easy-job-management:before {
  content: "\E023";
}
.icons-icomoon-engineers:before {
  content: "\E024";
}
.icons-icomoon-exclaim:before {
  content: "\E025";
}
.icons-icomoon-eye:before {
  content: "\E026";
}
.icons-icomoon-filing:before {
  content: "\E027";
}
.icons-icomoon-flag:before {
  content: "\E028";
}
.icons-icomoon-flexible-time-tracking:before {
  content: "\E029";
}
.icons-icomoon-flipchart:before {
  content: "\E02A";
}
.icons-icomoon-gauge:before {
  content: "\E02B";
}
.icons-icomoon-gears:before {
  content: "\E02C";
}
.icons-icomoon-globe:before {
  content: "\E02D";
}
.icons-icomoon-grad:before {
  content: "\E02E";
}
.icons-icomoon-graph:before {
  content: "\E02F";
}
.icons-icomoon-hr:before {
  content: "\E030";
}
.icons-icomoon-idea:before {
  content: "\E031";
}
.icons-icomoon-info:before {
  content: "\E032";
}
.icons-icomoon-inspection:before {
  content: "\E033";
}
.icons-icomoon-instant-quotes:before {
  content: "\E034";
}
.icons-icomoon-it-topic:before {
  content: "\E035";
}
.icons-icomoon-it:before {
  content: "\E036";
}
.icons-icomoon-laptop:before {
  content: "\E037";
}
.icons-icomoon-light-bulb:before {
  content: "\E038";
}
.icons-icomoon-little-x-01:before {
  content: "\E039";
}
.icons-icomoon-lock-fi:before {
  content: "\E03A";
}
.icons-icomoon-locked:before {
  content: "\E03B";
}
.icons-icomoon-magnify:before {
  content: "\E03C";
}
.icons-icomoon-mail:before {
  content: "\E03D";
}
.icons-icomoon-meeting:before {
  content: "\E03E";
}
.icons-icomoon-mega:before {
  content: "\E03F";
}
.icons-icomoon-month:before {
  content: "\E040";
}
.icons-icomoon-network:before {
  content: "\E041";
}
.icons-icomoon-no-paper:before {
  content: "\E042";
}
.icons-icomoon-no-table:before {
  content: "\E043";
}
.icons-icomoon-note:before {
  content: "\E044";
}
.icons-icomoon-notepad:before {
  content: "\E045";
}
.icons-icomoon-paper:before {
  content: "\E046";
}
.icons-icomoon-phone:before {
  content: "\E047";
}
.icons-icomoon-pie:before {
  content: "\E048";
}
.icons-icomoon-play:before {
  content: "\E049";
}
.icons-icomoon-protractor:before {
  content: "\E04A";
}
.icons-icomoon-ream:before {
  content: "\E04B";
}
.icons-icomoon-refresh:before {
  content: "\E04C";
}
.icons-icomoon-reset:before {
  content: "\E04D";
}
.icons-icomoon-secure-cloud:before {
  content: "\E04E";
}
.icons-icomoon-security:before {
  content: "\E04F";
}
.icons-icomoon-settings:before {
  content: "\E050";
}
.icons-icomoon-signal:before {
  content: "\E051";
}
.icons-icomoon-small-business:before {
  content: "\E052";
}
.icons-icomoon-sports:before {
  content: "\E053";
}
.icons-icomoon-streamlined-invoicing:before {
  content: "\E054";
}
.icons-icomoon-support:before {
  content: "\E055";
}
.icons-icomoon-svg:before {
  content: "\E056";
}
.icons-icomoon-talk:before {
  content: "\E057";
}
.icons-icomoon-text-cash:before {
  content: "\E058";
}
.icons-icomoon-text:before {
  content: "\E059";
}
.icons-icomoon-timer:before {
  content: "\E05A";
}
.icons-icomoon-tools:before {
  content: "\E05B";
}
.icons-icomoon-up-sleeve:before {
  content: "\E05C";
}
.icons-icomoon-up:before {
  content: "\E05D";
}
.icons-icomoon-upload:before {
  content: "\E05E";
}
.icons-icomoon-web-page:before {
  content: "\E05F";
}
.icons-icomoon-woman:before {
  content: "\E060";
}
.icons-icomoon-xero:before {
  content: "\E061";
}
.icons-icomoon-zendeskthis:before {
  content: "\E062";
}
.icons-invoice:before {
  content: "\E063";
}
.icons-magnify:before {
  content: "\E064";
}
.icons-mobile-computing:before {
  content: "\E065";
}
.icons-seo-marketing:before {
  content: "\E066";
}
.icons-team-collaboration-flowchart:before {
  content: "\E067";
}
.icons-time-tracking:before {
  content: "\E068";
}
.icons-xero:before {
  content: "\E069";
}
@font-face {
  font-family: 'icomoon';
  src: url('http://www.workflowmax.com/hubfs/icomoon/icomoon.eot?-rxa65r');
  src: url('http://www.workflowmax.com/hubfs/icomoon/icomoon.eot?#iefix-rxa65r') format('embedded-opentype'), url('http://www.workflowmax.com/hubfs/icomoon/icomoon.woff?-rxa65r') format('woff'), url('http://www.workflowmax.com/hubfs/icomoon/icomoon.ttf?-rxa65r') format('truetype'), url('http://www.workflowmax.com/hubfs/icomoon/icomoon.svg?-rxa65r#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-small-business:before {
  content: "\e600";
}
.icon-little-x-01:before {
  content: "\e657";
}
.icon-it-topic:before {
  content: "\e656";
}
.icon-circle:before {
  content: "\e655";
}
.icon-light-bulb:before {
  content: "\e652";
}
.icon-cloud:before {
  content: "\e653";
}
.icon-all-posts:before {
  content: "\e654";
}
.icon-zendeskthis:before {
  content: "\e651";
}
.icon-web-page:before {
  content: "\e64c";
}
.icon-streamlined-invoicing:before {
  content: "\e64d";
}
.icon-it:before {
  content: "\e64e";
}
.icon-xero:before {
  content: "\e64f";
}
.icon-builders:before {
  content: "\e650";
}
.icon-instant-quotes:before {
  content: "\e601";
}
.icon-woman:before {
  content: "\e602";
}
.icon-upload:before {
  content: "\e603";
}
.icon-up:before {
  content: "\e604";
}
.icon-up-sleeve:before {
  content: "\e605";
}
.icon-tools:before {
  content: "\e606";
}
.icon-timer:before {
  content: "\e607";
}
.icon-text:before {
  content: "\e608";
}
.icon-text-cash:before {
  content: "\e609";
}
.icon-talk:before {
  content: "\e60a";
}
.icon-support:before {
  content: "\e60b";
}
.icon-sports:before {
  content: "\e60c";
}
.icon-signal:before {
  content: "\e60d";
}
.icon-settings:before {
  content: "\e60e";
}
.icon-security:before {
  content: "\e60f";
}
.icon-secure-cloud:before {
  content: "\e610";
}
.icon-reset:before {
  content: "\e611";
}
.icon-refresh:before {
  content: "\e612";
}
.icon-ream:before {
  content: "\e613";
}
.icon-protractor:before {
  content: "\e614";
}
.icon-play:before {
  content: "\e615";
}
.icon-pie:before {
  content: "\e616";
}
.icon-phone:before {
  content: "\e617";
}
.icon-paper:before {
  content: "\e618";
}
.icon-notepad:before {
  content: "\e619";
}
.icon-note:before {
  content: "\e61a";
}
.icon-no-table:before {
  content: "\e61b";
}
.icon-no-paper:before {
  content: "\e61c";
}
.icon-network:before {
  content: "\e61d";
}
.icon-month:before {
  content: "\e61e";
}
.icon-mega:before {
  content: "\e61f";
}
.icon-meeting:before {
  content: "\e620";
}
.icon-mail:before {
  content: "\e621";
}
.icon-magnify:before {
  content: "\e622";
}
.icon-locked:before {
  content: "\e623";
}
.icon-lock-fi:before {
  content: "\e624";
}
.icon-laptop:before {
  content: "\e625";
}
.icon-inspection:before {
  content: "\e626";
}
.icon-info:before {
  content: "\e627";
}
.icon-idea:before {
  content: "\e628";
}
.icon-graph:before {
  content: "\e629";
}
.icon-grad:before {
  content: "\e62a";
}
.icon-globe:before {
  content: "\e62b";
}
.icon-gears:before {
  content: "\e62c";
}
.icon-gauge:before {
  content: "\e62d";
}
.icon-flipchart:before {
  content: "\e62e";
}
.icon-flexible-time-tracking:before {
  content: "\e62f";
}
.icon-flag:before {
  content: "\e630";
}
.icon-filing:before {
  content: "\e631";
}
.icon-eye:before {
  content: "\e632";
}
.icon-exclaim:before {
  content: "\e633";
}
.icon-engineers:before {
  content: "\e634";
}
.icon-easy-job-management:before {
  content: "\e635";
}
.icon-down:before {
  content: "\e636";
}
.icon-degree:before {
  content: "\e637";
}
.icon-creative:before {
  content: "\e638";
}
.icon-convo:before {
  content: "\e639";
}
.icon-consultants:before {
  content: "\e63a";
}
.icon-comp-signal:before {
  content: "\e63b";
}
.icon-comment:before {
  content: "\e63c";
}
.icon-clients:before {
  content: "\e63d";
}
.icon-click:before {
  content: "\e63e";
}
.icon-cell:before {
  content: "\e63f";
}
.icon-cell-network:before {
  content: "\e640";
}
.icon-cash:before {
  content: "\e641";
}
.icon-calendar:before {
  content: "\e642";
}
.icon-calculator:before {
  content: "\e643";
}
.icon-bubbles:before {
  content: "\e644";
}
.icon-book:before {
  content: "\e645";
}
.icon-binoc:before {
  content: "\e646";
}
.icon-binders:before {
  content: "\e647";
}
.icon-architects:before {
  content: "\e648";
}
.icon-alarm:before {
  content: "\e649";
}
.icon-actionable-reporting:before {
  content: "\e64a";
}
.icon-hr:before {
  content: "\e64b";
}
.icon-svg:before {
  content: "\e658";
}
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
/*************************************/
.play-video {
  width: 100px;
  height: 100px;
  border: none;
  background: none;
  background-image: url('http://cdn2.hubspot.net/hub/325051/file-701902433-png/play-btn-green.png?t=1458600450878');
  background-repeat: no-repeat;
  border-radius: 50px;
}
.hs-cta-wrapper .orange-signup-cta small {
  margin: 0;
  color: #5d646b;
}
.industry-page-v2 {
  /* form stuff */
}
.industry-page-v2 .quick-signup {
  margin-top: 25px;
  margin-bottom: 40px;
}
.industry-page-v2 .quick-signup p {
  margin-top: 10px;
}
.industry-page-v2 .quick-signup .quick-signup-form form {
  display: inline-block;
  width: 550px;
  height: 50px;
  padding-bottom: 33px;
  float: none;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}
.industry-page-v2 .quick-signup .quick-signup-form form > div {
  max-height: 50px;
}
@media (max-width: 767px) {
  .industry-page-v2 .quick-signup .quick-signup-form form {
    width: 70%;
    max-width: 400px;
    height: 100px;
    padding: 0;
  }
}
.industry-page-v2 .quick-signup .quick-signup-form form .hs_email {
  z-index: 4;
  width: 50%;
  height: 100%;
  margin-right: 0px;
  float: left;
  text-align: center;
}
@media (min-width: 767px) {
  .industry-page-v2 .quick-signup .quick-signup-form form .hs_email {
    position: absolute;
    left: 0;
  }
}
.industry-page-v2 .quick-signup .quick-signup-form form .hs_email label {
  display: none;
}
.industry-page-v2 .quick-signup .quick-signup-form form .hs_email label.error {
  /*   display:none!important;; */
  background: #eee;
  color: #989EA5;
  padding: 0.5em 1em;
  box-sizing: border-box;
  border-radius: 15px;
  position: absolute;
  top: 65px;
  left: 0px;
  margin: 0;
  text-align: left;
  font-size: 0.8em;
}
@media (max-width: 767px) {
  .industry-page-v2 .quick-signup .quick-signup-form form .hs_email label.error {
    background: #eee;
    color: #989EA5;
    padding: 5px 10px 3px;
    box-sizing: border-box;
    border-radius: 15px;
    top: -65px;
    margin: 0 auto ;
    float: none;
    display: block!important;
    text-align: center;
    width: 80%;
    position: relative;
    z-index: 5;
  }
}
.industry-page-v2 .quick-signup .quick-signup-form form .hs_email .input {
  height: 100%;
  border-radius: 10px;
  background: none!important;
}
.industry-page-v2 .quick-signup .quick-signup-form form .hs_email .input input {
  height: 100%;
  border: none;
  background: none;
  padding: 10px 5px 10px 20px;
  font-size: 16px;
  font-family: 'national_light', sans-serif;
  color: #525F6D;
  text-align: center;
}
@media (max-width: 767px) {
  .industry-page-v2 .quick-signup .quick-signup-form form .hs_email {
    width: 100%;
    position: relative;
  }
  .industry-page-v2 .quick-signup .quick-signup-form form .hs_email .input {
    top: 0;
    height: 100%;
  }
  .industry-page-v2 .quick-signup .quick-signup-form form .hs_email .input input {
    height: 100%;
    padding: 10px 20px 10px 20px;
    margin: 0;
    font-size: 15px;
    height: 50px;
  }
}
.industry-page-v2 .quick-signup .quick-signup-form form .hs_submit {
  height: 50px;
  width: 50%;
}
@media (min-width: 767px) {
  .industry-page-v2 .quick-signup .quick-signup-form form .hs_submit {
    z-index: 2;
    position: absolute;
    right: 0;
  }
}
@media (max-width: 767px) {
  .industry-page-v2 .quick-signup .quick-signup-form form .hs_submit {
    width: 100%;
    position: relative;
    z-index: 2;
    margin-top: 5px;
  }
}
.industry-page-v2 .quick-signup .quick-signup-form form .hs_submit div.actions {
  height: 100%;
  width: 100%;
}
.industry-page-v2 .quick-signup .quick-signup-form form .hs_submit input {
  background-color: #f60;
  height: 100%;
  width: 100%;
  cursor: pointer!important;
  font-size: 25px;
  color: #fff;
  padding: 8px 30px!important;
  border: none!important;
  border-radius: 10px;
  font-family: 'national_regular';
}
.industry-page-v2 .quick-signup .quick-signup-form form .hs_submit input:hover {
  background-color: #2daa2d;
}
.industry-page-v2 .quick-signup .quick-signup-form form .form-border {
  display: block!important;
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  border: 2px solid #ccc;
  z-index: 0;
  border-radius: 10px;
}
@media (max-width: 767px) {
  .industry-page-v2 .quick-signup .quick-signup-form form .form-border {
    z-index: 0;
    top: 0;
  }
}
.industry-page-v2 .quick-signup .cta-normal {
  overflow: hidden;
}
.industry-page-v2 .quick-signup .cta-normal a .orange-signup-cta {
  overflow: hidden;
  display: block;
}
.industry-page-v2 .quick-signup .cta-normal a .orange-signup-cta .orange-cta {
  display: inline-block;
}
.industry-page-v2 .quick-signup .no-credit-card {
  margin-top: -23px;
}
@media (max-width: 767px) {
  .industry-page-v2 .quick-signup .no-credit-card {
    margin-top: 5px;
  }
}
@media (max-width: 787px) {
  .industry-page-v2 {
    /* form stuff */
  }
}
.industry-page-v2 h1,
.industry-page-v2 h2,
.industry-page-v2 h3,
.industry-page-v2 h4 {
  -webkit-font-smoothing: antialiased;
}
.industry-page-v2 h1 {
  letter-spacing: -0.02em;
}
.industry-page-v2 p {
  color: #54616f;
}
.industry-page-v2 p a {
  color: #54616f;
  font-family: 'national_regular';
  color: inherit;
  color: #4c535a;
  text-decoration: none;
  border-bottom: 1px solid #e8eaec;
}
.industry-page-v2 p a:hover {
  border-bottom: 1px solid #bbc0c5;
}
.industry-page-v2 p a:hover {
  color: #54616f;
  border-bottom: 1px solid #bbc0c5;
}
.industry-page-v2 .page-intro-content {
  padding: 3.4em 0 2.3em;
}
.industry-page-v2 .page-intro-content .intro p {
  font-size: 0.95em;
  line-height: 1.3em;
  margin: 0;
  color: #767d84;
}
.engineers.industry-page-v2 .page-intro-content .intro p {
  font-size: 0.9em;
}
@media (max-width: 1000px) {
  .industry-page-v2 .page-intro-content {
    margin: 0 2%;
  }
}
.industry-page-v2 .page-content {
  overflow: hidden;
  padding: 80px 0;
}
@media (max-width: 1000px) {
  .industry-page-v2 .page-content {
    padding-left: 2%;
    padding-right: 2%;
  }
}
.industry-page-v2 .page-content .page-content-header h2 {
  font-size: 38px;
  font-family: 'national_regular';
  letter-spacing: -0.015em;
  margin: 0;
  text-align: center;
  margin-bottom: 1em;
}
.industry-page-v2 .page-content > div > div > div > div.widget-type-rich_text {
  text-align: center;
}
.industry-page-v2 .page-content > div > div > div > div.widget-type-rich_text p {
  font-size: 24px;
  line-height: 1.3em;
  margin: 1.5em 0;
  color: #54616f;
}
.industry-page-v2 .page-content > div > div > div > div.widget-type-rich_text.bottom-description {
  padding-top: 2em;
}
.industry-page-v2 .page-content > div > div > div > div.widget-type-rich_text.bottom-description p {
  margin: 1em 0 0;
}
.industry-page-v2 .page-content.grey {
  background: #eceff1;
  overflow: hidden;
  width: 100%;
  max-width: none;
}
.industry-page-v2 .page-content.grey .span12 {
  max-width: 960px;
  margin: 0 auto;
  float: none;
}
.industry-page-v2 .page-content.grey-fade-down {
  background: #eceff1;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e8eaec), color-stop(1, white));
  background: -ms-linear-gradient(bottom, #e8eaec, white);
  background: -moz-linear-gradient(center bottom, #e8eaec 0%, white 100%);
  background: -o-linear-gradient(white, #e8eaec);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e8eaec', GradientType=0);
  overflow: hidden;
  width: 100%;
  max-width: none;
}
.industry-page-v2 .page-content.grey-fade-down .span12 {
  max-width: 960px;
  margin: 0 auto;
  float: none;
}
.industry-page-v2 #hero-wrapper {
  max-width: 960px;
  margin: 0 auto;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  overflow: hidden;
  box-sizing: border-box;
  transition: 0.5s;
}
.industry-page-v2 #hero-wrapper:hover {
  -webkit-box-shadow: 0 0 12px 0 rgba(50, 58, 67, 0.25);
  -moz-box-shadow: 0 0 12px 0 rgba(50, 58, 67, 0.25);
  box-shadow: 0 0 12px 0 rgba(50, 58, 67, 0.25);
}
@media (max-width: 1000px) {
  .industry-page-v2 #hero-wrapper {
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}
.industry-page-v2 #hero {
  padding: 3em 4em;
  box-sizing: border-box;
  display: block;
  position: relative;
  cursor: pointer;
  background-color: white;
  background-image: url('http://www.workflowmax.com/hubfs/agency-hero-bg-1.jpg');
  background-repeat: no-repeat;
  background-size: 103%;
}
.engineers.industry-page-v2 #hero {
  background-image: none;
  background: black;
  background-image: url('http://www.workflowmax.com/hubfs/engineers-ip-2-bghero-2.jpeg');
  background-size: auto 100%;
  background-position: -55px 0px;
  background-repeat: no-repeat;
}
.ua-gecko .engineers.industry-page-v2 #hero {
  background-position: -125px 0px;
}
@media (max-width: 880px) {
  .engineers.industry-page-v2 #hero {
    background: none;
    background: #1c2025;
  }
}
.consultants.industry-page-v2 #hero {
  background-image: url('http://www.workflowmax.com/hubfs/consultant-bg-1.jpeg');
}
.it-services.industry-page-v2 #hero {
  background-image: url('http://www.workflowmax.com/hubfs/it-hero-bg.png');
}
@media (max-width: 880px) {
  .industry-page-v2 #hero {
    background: none;
    background: #eceff1;
  }
}
.industry-page-v2 #hero h2 {
  text-align: left;
  font-family: 'national_semibold';
  letter-spacing: -0.015em;
  color: #45B449;
  font-size: 2.6em;
  line-height: 0.9em;
  margin: 0;
  margin-bottom: 0.4em;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
@media (max-width: 880px) {
  .industry-page-v2 #hero h2 {
    text-align: center;
  }
  .industry-page-v2 #hero h2 br {
    display: none;
  }
}
.industry-page-v2 #hero h2 .mobile {
  display: none;
}
@media (max-width: 880px) {
  .industry-page-v2 #hero h2 .mobile {
    display: inline;
  }
}
.industry-page-v2 #hero blockquote {
  padding: 0;
  text-align: left;
  margin: 0;
  font-size: 1.4em;
  color: #90979e;
  width: 100%;
  max-width: 300px;
  line-height: 1.3em;
  font-weight: 600;
}
.industry-page-v2 #hero blockquote cite {
  display: block;
  font-size: 0.6em;
  font-family: 'national_light';
  font-style: normal;
  color: #767d84;
  letter-spacing: 0.02em;
  margin-top: 0.7em;
  text-transform: uppercase;
  line-height: 1.1em;
}
.industry-page-v2 #hero blockquote cite strong {
  font-family: 'national_regular';
  color: #5d646b;
}
@media (max-width: 880px) {
  .industry-page-v2 #hero blockquote {
    max-width: none;
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
  .industry-page-v2 #hero blockquote br {
    display: none;
  }
}
.industry-page-v2 #hero .play-video {
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  top: 50%;
  left: 50%;
  transition: 0.1s;
  -webkit-transform: scale(0.92);
  -moz-transform: scale(0.92);
  -o-transform: scale(0.92);
  -ms-transform: scale(0.92);
  transform: scale(0.92);
}
@media (max-width: 880px) {
  .industry-page-v2 #hero .play-video {
    display: none;
  }
}
.industry-page-v2 #hero:hover .play-video {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
.industry-page-v2 #hero .mobile-play-video {
  display: none;
  text-align: center;
  margin: 1.5em 0 0;
}
@media (max-width: 880px) {
  .industry-page-v2 #hero .mobile-play-video {
    display: block;
  }
}
.industry-page-v2 #hero .wistia-wrap {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.industry-page-v2 #hero .wistia-wrap a {
  width: 100%;
  height: 100%;
  display: block;
}
.industry-page-v2 .features.page-content {
  padding-top: 1.8em;
}
.industry-page-v2 .features.page-content h2 {
  margin-bottom: 1.4em;
}
.industry-page-v2 .features.page-content .icons {
  -moz-osx-font-smoothing: grayscale;
}
.industry-page-v2 .features.page-content .icons:before {
  color: #45B449;
  opacity: 0.8;
}
.industry-page-v2 .features.page-content .icons.icons-document-pencil:before {
  font-size: 0.9em;
}
.industry-page-v2 .features.page-content .icons.icons-magnify:before {
  font-size: 0.85em;
}
.industry-page-v2 .features.page-content .icons.icons-mobile-computing:before {
  font-size: 1.1em;
}
.industry-page-v2 .features.page-content .icons.icons-team-collaboration-flowchart:before {
  font-size: 0.9em;
}
.industry-page-v2 .features.page-content .icons.icons-xero:before {
  font-size: 0.9em;
  color: #00B7E3;
}
.industry-page-v2 .features.page-content .icons.icon-reset:before {
  font-size: 0.8em;
}
.industry-page-v2 .features.page-content .icons.icon-note:before {
  font-size: 0.8em;
}
.industry-page-v2 .features.page-content .icons.icon-tools:before {
  font-size: 0.8em;
}
.industry-page-v2 .features.page-content .icons.icon-graph:before {
  font-size: 0.8em;
}
.industry-page-v2 .features.page-content .feature-group {
  min-height: 215px;
  margin: 0;
}
.industry-page-v2 .features.page-content .feature-group:hover .icons:before {
  opacity: 1;
}
.industry-page-v2 .features.page-content .feature-group .feature-icon {
  color: #67c56b;
}
.industry-page-v2 .features.page-content .feature-group h4 {
  font-size: 1.6em;
  letter-spacing: -0.01em;
  color: #5d646b;
  margin-bottom: 0.3em;
  font-family: 'national_regular';
  font-weight: 500;
}
.industry-page-v2 .features.page-content .feature-group h4 a {
  border: none;
  color: inherit;
  border-bottom: 1px solid #dddfe2;
}
.industry-page-v2 .features.page-content .feature-group .description {
  margin: 0;
  color: #767d84;
  font-size: 18px;
  line-height: 1.3em;
  min-height: 28px;
  padding-bottom: 58px;
  padding-right: 20px;
  margin-top: 0.2em;
}
.industry-page-v2 .features.page-content .feature-group:hover h4 a {
  border-bottom: 1px solid #45B449;
}
.industry-page-v2 .features.page-content .feature-group:hover .feature-icon {
  color: #67c56b;
}
.industry-page-v2 #video-section {
  padding: 4em 0;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 1040px) {
  .industry-page-v2 #video-section {
    padding: 4em 4%;
  }
}
.industry-page-v2 #video-section .text {
  padding: 0 2em;
  box-sizing: border-box;
}
.industry-page-v2 #video-section .page-content-header h2 {
  text-align: left;
  margin: 0;
  font-size: 2.2em;
}
@media (max-width: 930px) {
  .industry-page-v2 #video-section .page-content-header h2 {
    margin-top: 1em;
    font-size: 1.7em;
  }
}
.industry-page-v2 #video-section p {
  color: #767d84;
  line-height: 1.3em;
  margin-top: 0.4em;
  margin-bottom: 0;
}
@media (max-width: 930px) {
  .industry-page-v2 #video-section p {
    font-size: 1.2em;
  }
}
.industry-page-v2 #video-section .video img {
  -webkit-box-shadow: 0 0 10px 0 #dddfe2;
  -moz-box-shadow: 0 0 10px 0 #dddfe2;
  box-shadow: 0 0 10px 0 #dddfe2;
  -webkit-box-shadow: 0 0 0 0 10px 0 #dddfe2 0 #000;
  -moz-box-shadow: 0 0 0 0 10px 0 #dddfe2 0 #000;
  box-shadow: 0 0 0 0 10px 0 #dddfe2 0 #000;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .industry-page-v2 #video-section .video img {
    width: 70%;
  }
}
.industry-page-v2 #video-section .video img:hover {
  -webkit-box-shadow: 0 0 10px 0 #bbc0c5;
  -moz-box-shadow: 0 0 10px 0 #bbc0c5;
  box-shadow: 0 0 10px 0 #bbc0c5;
  -webkit-box-shadow: 0 0 0 0 10px 0 #bbc0c5 0 #000;
  -moz-box-shadow: 0 0 0 0 10px 0 #bbc0c5 0 #000;
  box-shadow: 0 0 0 0 10px 0 #bbc0c5 0 #000;
}
.industry-page-v2 #use-case {
  overflow: hidden;
  max-width: 860px;
}
.industry-page-v2 #use-case .page-content-header h2 {
  margin-bottom: 1.5em;
}
.industry-page-v2 #use-case .use-case-container .use-case-item {
  margin: 0 auto 3em;
  overflow: hidden;
}
@media (max-width: 767px) {
  .industry-page-v2 #use-case .use-case-container .use-case-item .image-wrap {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: center;
    margin: 0 0 1em;
  }
}
.industry-page-v2 #use-case .use-case-container .use-case-item .image {
  float: left;
  border-radius: 200px;
  width: 200px;
  height: 200px;
  background: none;
  margin-right: 3em;
  border: none;
}
@media (max-width: 767px) {
  .industry-page-v2 #use-case .use-case-container .use-case-item .image {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    float: none;
  }
}
.industry-page-v2 #use-case .use-case-container .use-case-item svg.image * {
  transition: 0.5s;
  transition-timing-function: cubic-bezier;
}
.industry-page-v2 #use-case .use-case-container .use-case-item svg.image circle {
  opacity: 0.4;
}
.industry-page-v2 #use-case .use-case-container .use-case-item svg.image g#person {
  opacity: 0.85;
}
.industry-page-v2 #use-case .use-case-container .use-case-item:nth-of-type(even) .image {
  float: right;
  margin-right: 0;
  margin-left: 3em;
}
@media (max-width: 767px) {
  .industry-page-v2 #use-case .use-case-container .use-case-item:nth-of-type(even) .image {
    margin: 0 auto;
    float: none;
  }
}
.industry-page-v2 #use-case .use-case-container .use-case-item:hover svg g#person {
  opacity: 1;
  -webkit-filter: drop-shadow(0px 0px 5px #000);
  filter: drop-shadow(0px 0px 5px #000);
}
.industry-page-v2 #use-case .use-case-container .use-case-item:hover svg circle {
  opacity: 0.8;
}
.industry-page-v2 #use-case .use-case-container .use-case-item .text-wrap {
  height: 200px;
}
@media (min-width: 767px) {
}
@media (max-width: 767px) {
  .industry-page-v2 #use-case .use-case-container .use-case-item .text-wrap {
    height: auto;
  }
}
.industry-page-v2 #use-case .use-case-container .use-case-item .text-wrap .text {
  overflow: hidden;
}
.industry-page-v2 #use-case .use-case-container .use-case-item h3 {
  font-size: 1.7em;
  color: #5d646b;
  margin: 0;
  font-family: 'national_regular';
  -webkit-font-smoothing: subpixel-antialiasing;
  letter-spacing: -0.01em;
}
.industry-page-v2 #use-case .use-case-container .use-case-item p {
  display: inline-block;
  color: #767d84;
}
.industry-page-v2 #reviews {
  background: #eceff1;
  overflow: hidden;
  width: 100%;
  max-width: none;
}
.industry-page-v2 #reviews .span12 {
  max-width: 960px;
  margin: 0 auto;
  float: none;
}
@media (max-width: 767px) {
  .industry-page-v2 #reviews {
    padding: 3em 0;
  }
}
@media (max-width: 656px) {
  .industry-page-v2 #reviews {
    padding: 3em 3em;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}
.industry-page-v2 #reviews h2 {
  margin-bottom: 1em;
}
.industry-page-v2 #reviews .reviews-container {
  max-width: 850px;
  margin: 0 auto;
}
.industry-page-v2 #reviews .reviews-container .reviews-item {
  width: 40%;
  float: left;
  margin: 0 5%;
  text-align: center;
}
.industry-page-v2 #reviews .reviews-container .reviews-item .image-wrap {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.industry-page-v2 #reviews .reviews-container .reviews-item .image-wrap img {
  background: none;
  max-width: 230px;
  -webkit-filter: drop-shadow(0px 0px 25px #fff);
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
}
.ua-gecko .industry-page-v2 #reviews .reviews-container .reviews-item .image-wrap img {
  filter: none;
  max-width: none;
  width: 250px;
}
@media (max-width: 656px) {
  .ua-gecko .industry-page-v2 #reviews .reviews-container .reviews-item .image-wrap img {
    width: 150px!important;
  }
}
.industry-page-v2 #reviews .reviews-container .reviews-item h3 {
  font-size: 2em;
  color: #4c535a;
  margin: 0;
  display: none;
}
.industry-page-v2 #reviews .reviews-container .reviews-item .svg-rating {
  margin: 1em auto 1em;
  text-align: center;
}
.industry-page-v2 #reviews .reviews-container .reviews-item .svg-rating .star {
  margin-right: -5px;
}
.industry-page-v2 #reviews .reviews-container .reviews-item .svg-rating .star svg > polygon {
  fill: #bbc0c5;
}
.industry-page-v2 #reviews .reviews-container .reviews-item .svg-rating .number-rating {
  display: block;
  padding-top: 2px;
}
.industry-page-v2 #reviews .reviews-container .reviews-item .svg-rating .number-rating strong {
  font-family: 'national_regular';
  color: #767d84;
  font-size: 1.8em;
  letter-spacing: -0.05em;
}
.industry-page-v2 #reviews .reviews-container .reviews-item .link {
  font-size: 1.4em;
  line-height: 1.3em;
}
.industry-page-v2 #reviews .reviews-container .reviews-item .link a {
  text-decoration: none;
  color: #767d84;
  border-bottom: 2px solid #dddfe2;
}
.industry-page-v2 #reviews .reviews-container .reviews-item .link a:hover {
  color: #5d646b;
  border-bottom: 2px solid #bbc0c5;
}
@media (max-width: 550px) {
  .industry-page-v2 #reviews .reviews-container .reviews-item {
    width: 100%;
  }
}
.industry-page-v2 #case-studies .case-studies-item {
  max-width: 840px;
  margin: 0 auto;
  overflow: hidden;
}
.industry-page-v2 #case-studies .case-studies-item .row-fluid {
  margin-top: 2em;
}
.industry-page-v2 #case-studies .case-studies-item .image-wrap {
  overflow: hidden;
  width: 100%;
  height: 180px;
  border-radius: 10px;
  text-align: right;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.industry-page-v2 #case-studies .case-studies-item .image-wrap img {
  border-radius: 10px;
  width: 100%;
}
.industry-page-v2 #case-studies .case-studies-item .image-wrap .play-button {
  position: absolute;
  margin-left: -37.5px;
  margin-top: -37.5px;
  top: 50%;
  left: 50%;
  z-index: 9;
  width: 75px;
  height: 75px;
  background: url('http://cdn2.hubspot.net/hub/325051/file-701902433-png/play-btn-green.png');
  background-size: 75px 75px;
}
@media (max-width: 767px) {
  .industry-page-v2 #case-studies .case-studies-item .image-wrap {
    width: 300px;
    margin: 0 auto;
  }
}
@media (max-width: 401px) {
  .industry-page-v2 #case-studies .case-studies-item .image-wrap {
    width: 200px;
  }
}
.industry-page-v2 #case-studies .case-studies-item h3 {
  text-align: center;
  font-size: 2.2em;
  color: #5d646b;
  letter-spacing: -0.01em;
  margin: 0 0.5em;
}
@media (max-width: 767px) {
  .industry-page-v2 #case-studies .case-studies-item h3 {
    font-size: 1.5em;
    margin-top: 1em;
    display: none;
  }
}
.industry-page-v2 #case-studies .case-studies-item h3.mobile-title {
  display: none;
}
@media (max-width: 767px) {
  .industry-page-v2 #case-studies .case-studies-item h3.mobile-title {
    display: block;
  }
}
.industry-page-v2 #case-studies .case-studies-item .text {
  max-width: 70%;
}
.industry-page-v2 #case-studies .case-studies-item .text p {
  margin-top: 0;
  margin-bottom: 0em;
}
.industry-page-v2 #case-studies .case-studies-item .text ul {
  margin: 0.7em 0 1em;
  padding-left: 1.5em;
}
.industry-page-v2 #case-studies .case-studies-item .text ul li {
  margin: 0;
  color: #54616f;
}
@media (max-width: 767px) {
  .industry-page-v2 #case-studies .case-studies-item .text {
    display: none;
  }
}
.industry-page-v2 #case-studies .case-studies-item .orange-cta-small {
  display: inline-block;
  margin-bottom: 10px;
  font-family: 'national_semibold';
  letter-spacing: 0.05em;
}
.industry-page-v2 #case-studies .case-studies-item .orange-cta-small a {
  color: inherit;
  text-decoration: none;
}
.industry-page-v2 #case-studies .case-studies-item a {
  color: inherit;
  text-decoration: none;
}
@media (max-width: 990px) {
  .industry-page-v2 #case-studies .case-studies-item {
    max-width: none;
    width: 80%;
  }
}
.industry-page-v2 #case-studies .slick-slider {
  margin-bottom: 0;
}
.industry-page-v2 #case-studies .slick-next,
.industry-page-v2 #case-studies .slick-prev {
  top: 0;
  height: 100%;
  background: white;
  width: 40px;
  background-image: none;
  opacity: 1;
  -webkit-box-shadow: 0 0 3px 2px white;
  -moz-box-shadow: 0 0 3px 2px white;
  box-shadow: 0 0 3px 2px white;
  -webkit-box-shadow: 0 0 0 0 3px 2px white 0 #000;
  -moz-box-shadow: 0 0 0 0 3px 2px white 0 #000;
  box-shadow: 0 0 0 0 3px 2px white 0 #000;
}
.industry-page-v2 #case-studies .slick-next:before,
.industry-page-v2 #case-studies .slick-prev:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "iconfont-3";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
}
.industry-page-v2 #case-studies .slick-next:before,
.industry-page-v2 #case-studies .slick-prev:before {
  margin: 0 auto;
  width: 32px;
  height: 32px;
  font-size: 32px;
  color: #45B449;
  display: block;
  opacity: 0.9;
}
.industry-page-v2 #case-studies .slick-next:hover:before,
.industry-page-v2 #case-studies .slick-prev:hover:before {
  opacity: 1;
}
.industry-page-v2 #case-studies .slick-prev {
  left: -2px;
}
.industry-page-v2 #case-studies .slick-prev:before {
  content: "\E003";
}
.industry-page-v2 #case-studies .slick-next {
  right: -2px;
}
.industry-page-v2 #case-studies .slick-next:before {
  content: "\E004";
}
.industry-page-v2 #add-ons {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.industry-page-v2 #add-ons h2 {
  margin-bottom: 0;
}
.industry-page-v2 #add-ons .add-on-items-container {
  overflow: hidden;
}
.industry-page-v2 #add-ons .add-on-items-container .add-on-item {
  text-align: center;
  width: 23.333%;
  margin: 0 5%;
  float: left;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 767px) {
  .industry-page-v2 #add-ons .add-on-items-container .add-on-item {
    width: 70%;
    margin: 0 auto 2em;
    float: none;
  }
}
.industry-page-v2 #add-ons .add-on-items-container .add-on-item h3 {
  font-size: 1.5em;
  letter-spacing: -0.025em;
  font-family: 'national_semibold';
  color: #5d646b;
  font-weight: 100;
  margin: 0.8em 0 0.6em;
  text-transform: uppercase;
}
.industry-page-v2 #add-ons .add-on-items-container .add-on-item h3 a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid #dddfe2;
}
.industry-page-v2 #add-ons .add-on-items-container .add-on-item h3 a:hover {
  border-bottom: 1px solid #bbc0c5;
  color: #5d646b;
}
.industry-page-v2 #add-ons .add-on-items-container .add-on-item p.description {
  font-size: 18px;
  line-height: 1.3em;
  margin: 0;
}
.industry-page-v2 #add-ons .add-on-items-container .add-on-item .image-wrap {
  background: white;
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 200px;
  display: block;
  overflow: hidden;
}
@media (max-width: 767px) {
  .industry-page-v2 #add-ons .add-on-items-container .add-on-item .image-wrap {
    width: 100px;
    height: 100px;
  }
}
.industry-page-v2 #add-ons .add-on-items-container .add-on-item .image-wrap a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ua-safari .industry-page-v2 #add-ons .add-on-items-container .add-on-item .image-wrap,
.ua-ie .industry-page-v2 #add-ons .add-on-items-container .add-on-item .image-wrap {
  position: relative;
}
.ua-safari .industry-page-v2 #add-ons .add-on-items-container .add-on-item .image-wrap a,
.ua-ie .industry-page-v2 #add-ons .add-on-items-container .add-on-item .image-wrap a {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 50%;
  margin-top: -70px;
  text-decoration: none;
}
.industry-page-v2 #add-ons .add-on-items-container .add-on-item .image-wrap img {
  max-height: 140px;
  max-width: 180px;
}
@media (max-width: 767px) {
  .industry-page-v2 #add-ons .add-on-items-container .add-on-item .image-wrap img {
    max-width: 90px;
    max-height: 70px;
  }
}
.industry-page-v2 #faq {
  padding-bottom: 0;
}
.industry-page-v2 #faq h2 {
  margin-bottom: 1em;
}
.industry-page-v2 #faq .faq-container {
  overflow: hidden;
  padding: 0;
}
.industry-page-v2 #faq .faq-container .faq-col {
  width: 45%;
  float: left;
  margin: 0 2.5%;
}
@media (max-width: 767px) {
  .industry-page-v2 #faq .faq-container .faq-col {
    width: 95%;
  }
}
.industry-page-v2 #faq .faq-container .faq-item {
  cursor: pointer;
  display: block;
  margin: 1em 0 2em;
  box-sizing: border-box;
}
.industry-page-v2 #faq .faq-container .faq-item p {
  font-size: 18px;
}
@media (max-width: 960px) {
  .industry-page-v2 #faq .faq-container .faq-item p {
    font-size: 18px;
  }
}
.industry-page-v2 #faq .faq-container .faq-item .question {
  background: #e8eaec;
  border-radius: 10px;
  padding: 0.7em 2em;
  position: relative;
  box-sizing: border-box;
  min-height: 136px;
}
@media (max-width: 960px) {
  .industry-page-v2 #faq .faq-container .faq-item .question {
    min-height: 156px;
  }
}
@media (max-width: 767px) {
  .industry-page-v2 #faq .faq-container .faq-item .question {
    min-height: auto;
  }
}
.industry-page-v2 #faq .faq-container .faq-item .question .button {
  text-align: center;
  position: absolute;
  bottom: -18px;
  width: 85%;
}
.industry-page-v2 #faq .faq-container .faq-item .question .button span:before {
  font-size: 25px;
  color: #54616f;
}
.industry-page-v2 #faq .faq-container .faq-item:hover .question .button {
  bottom: -22px;
  transition: 0.3s;
  transition-timing-function: cubic-bezier;
}
.industry-page-v2 #faq .faq-container .faq-item:hover .question .button span:before {
  transition: 0.3s;
  color: #45B449;
}
.industry-page-v2 #faq .faq-container .faq-item .answer {
  margin: 2em 5% 3em;
  cursor: initial;
  display: block;
  overflow: hidden;
}
.industry-page-v2 #faq .faq-container .faq-item .answer p:nth-child(1) {
  margin-top: 0;
}
.industry-page-v2 #faq .see-more-faq {
  margin: 5em 0;
  width: 100%;
}
.industry-page-v2 #faq .see-more-faq p {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.4em;
}
.industry-page-v2 #faq .see-more-faq p a {
  color: inherit;
  color: #767d84;
  text-decoration: none;
  border-bottom: 1px solid #e8eaec;
}
.industry-page-v2 #faq .see-more-faq p a:hover {
  color: #5d646b;
  border-bottom: 1px solid #bbc0c5;
}
.industry-page-v2 #end-cta {
  padding-top: 10px;
}
@media (min-width: 980px) {
  .industry-page-v2 #end-cta {
    background: #eceff1;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e8eaec), color-stop(1, white));
    background: -ms-linear-gradient(bottom, #e8eaec, white);
    background: -moz-linear-gradient(center bottom, #e8eaec 0%, white 100%);
    background: -o-linear-gradient(white, #e8eaec);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e8eaec', GradientType=0);
    overflow: hidden;
    width: 100%;
    max-width: none;
  }
  .industry-page-v2 #end-cta .span12 {
    max-width: 960px;
    margin: 0 auto;
    float: none;
  }
}
@media (max-width: 980px) {
  .industry-page-v2 #end-cta {
    overflow: hidden;
    padding: 80px 0;
  }
  .industry-page-v2 #end-cta .page-content-header h2 {
    font-size: 38px;
    font-family: 'national_regular';
    letter-spacing: -0.015em;
    margin: 0;
    text-align: center;
    margin-bottom: 1em;
  }
  .industry-page-v2 #end-cta > div > div > div > div.widget-type-rich_text {
    text-align: center;
  }
  .industry-page-v2 #end-cta > div > div > div > div.widget-type-rich_text p {
    font-size: 24px;
    line-height: 1.3em;
    margin: 1.5em 0;
    color: #54616f;
  }
  .industry-page-v2 #end-cta > div > div > div > div.widget-type-rich_text.bottom-description {
    padding-top: 2em;
  }
  .industry-page-v2 #end-cta > div > div > div > div.widget-type-rich_text.bottom-description p {
    margin: 1em 0 0;
  }
  .industry-page-v2 #end-cta.grey {
    background: #eceff1;
    overflow: hidden;
    width: 100%;
    max-width: none;
  }
  .industry-page-v2 #end-cta.grey .span12 {
    max-width: 960px;
    margin: 0 auto;
    float: none;
  }
  .industry-page-v2 #end-cta.grey-fade-down {
    background: #eceff1;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e8eaec), color-stop(1, white));
    background: -ms-linear-gradient(bottom, #e8eaec, white);
    background: -moz-linear-gradient(center bottom, #e8eaec 0%, white 100%);
    background: -o-linear-gradient(white, #e8eaec);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='white', endColorstr='#e8eaec', GradientType=0);
    overflow: hidden;
    width: 100%;
    max-width: none;
  }
  .industry-page-v2 #end-cta.grey-fade-down .span12 {
    max-width: 960px;
    margin: 0 auto;
    float: none;
  }
}
@media (max-width: 980px) and (max-width: 1000px) {
  .industry-page-v2 #end-cta {
    padding-left: 2%;
    padding-right: 2%;
  }
}
@media (min-width: 980px) {
  .industry-page-v2 #end-cta .bottom-cta {
    background: white;
    padding: 4em 4em 2em;
    -webkit-box-shadow: 0 0 10px 0 #dddfe2;
    -moz-box-shadow: 0 0 10px 0 #dddfe2;
    box-shadow: 0 0 10px 0 #dddfe2;
    -webkit-box-shadow: 0 0 0 0 10px 0 #dddfe2 0 #000;
    -moz-box-shadow: 0 0 0 0 10px 0 #dddfe2 0 #000;
    box-shadow: 0 0 0 0 10px 0 #dddfe2 0 #000;
    box-sizing: border-box;
  }
}
.industry-page-v2 #end-cta .bottom-cta h2 {
  font-family: 'national_regular';
  margin: 0;
}
.industry-page-v2 #end-cta .bottom-cta p {
  font-size: 1.3em;
}
.industry-page-v2 #extra .extra-content-container .extra-item {
  float: left;
  width: 45%;
  margin: 0 2.5%;
}
@media (max-width: 767px) {
  .industry-page-v2 #extra .extra-content-container .extra-item {
    float: none;
    width: 80%;
    margin: 0 auto 1em;
    max-width: 400px;
  }
}
.industry-page-v2 .footer-cta-learn-attend-ask p a {
  color: inherit;
  text-decoration: none;
  font-family: inherit;
  color: #5f6c79;
}
ul li {
  font-size: 19px;
  line-height: 25px;
}
.footer-cta h2 {
  font-size: 24px;
  font-family: 'national_regular';
  font-weight: normal;
  margin: 0;
  text-align: left;
}
/************************/
.link-reset {
  color: inherit;
  text-decoration: none;
}
.link-underline {
  border-bottom: 1px solid #e8eaec;
}
.link-underline:hover {
  border-bottom: 1px solid #bbc0c5;
}
.page-content-fullwidth {
  overflow: hidden;
  width: 100%;
  max-width: none;
}
.page-content-fullwidth > div > div {
  max-width: 960px;
  margin: 0 auto;
  float: none;
}
.flex-align-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.white-glow {
  -webkit-filter: drop-shadow(0px 0px 25px #fff);
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#fff')";
}
.hide-children {
  display: none;
}
.hide-children * {
  display: none;
}
