
.quick-signup {
	margin-top: 25px;
	margin-bottom: 40px;
	p {
		margin-top: 10px;
	}
	.quick-signup-form {
		form {
			> div {
				max-height: 50px;
				
			}
			
			
			display: inline-block;
			width: 550px;
			height: 50px;
			padding-bottom:33px;
			float: none;
			margin: 0 auto;
			border-radius: 10px;
			position: relative;
			@media (max-width:767px) {
				width: 70%;
				max-width: 400px;
				height: 100px;
				padding:0;
				// border:1px solid @wfm-light-grey;
			}
			.hs_email {
				z-index: 4;
				width: 50%;
				height: 100%;
				margin-right: 0px;
				float: left;
				text-align: center;
				@media (min-width: 767px) {
					position: absolute;
					left: 0;
				}
				label {
					display:none;
				}
				label.error {
					/*   display:none!important;; */
					background: #eee;
					color: #989EA5;
					padding: 0.5em 1em;
					box-sizing: border-box;
					border-radius: 15px;
					position: absolute;
					top: 65px;
					left: 0px;
					margin: 0;
					text-align: left;
					font-size: 0.8em;
					@media (max-width: 767px) {
						background: #eee;
						color: #989EA5;
						padding: 5px 10px 3px;
						box-sizing: border-box;
						border-radius: 15px;
						position: relative;
						top: -65px;
						margin: 0 auto ;
						float: none;
						display: block!important;
						text-align: center;
						width: 80%;
						position: relative;
						z-index: 5;
					}
				}
				.input {
					height: 100%;
					border-radius: 10px;
					background: none!important;
					input {
						height: 100%;
						border: none;
						background: none;
						padding: 10px 5px 10px 20px;
						font-size: 16px;
						font-family: 'national_light', sans-serif;
						color: #525F6D;
						text-align: center;
					}
				}
				@media (max-width:767px) {
					width: 100%;
					position:relative;
					.input {
						top:0;
						height: 100%;
						input {
							height: 100%;
							padding: 10px 20px 10px 20px;
							margin:0;
							font-size: 15px;
							height:50px;
						}
					}
				}
			}
			.hs_submit {
				height:50px;
				width:50%;
				@media (min-width: 767px) {
					z-index: 2;
					position: absolute;
					right: 0;
				}
				@media(max-width:767px){
					width:100%;
					position:relative;
					z-index:2;
					margin-top:5px;
				}
				div.actions {
					height: 100%;
					width: 100%;
				}
				input {
					background-color: #f60;
					height: 100%;
					width: 100%;
					cursor: pointer!important;
					font-size: 25px;
					color: #fff;
					padding: 8px 30px!important;
					border: none!important;
					border-radius: 10px;
					font-family: 'national_regular';
					&:hover {
						background-color: #2daa2d;
					}
					
				}
			}
			.form-border {
				display: block!important;
				width: 100%;
				height: 100%;
				position: absolute;
				box-sizing: border-box;
				border: 2px solid #ccc;
				z-index: 0;
				border-radius: 10px;
				// margin:20px;
				@media(max-width:767px){
					z-index:0;
					top:0;
					// height:5500px!important;
					
				}
			}
		}
	}
	.cta-normal {
		overflow: hidden;
		a .orange-signup-cta {
			overflow: hidden;
			display: block;
			.orange-cta {
				display: inline-block;
			}
		}
	}
	.no-credit-card {
		margin-top: -23px;
		@media(max-width:767px){
			margin-top:5px;
		}
		
	}
}


/* form stuff */

.quick-signup-form .hs-error-msgs {
	// display: none!important;
}

@media (max-width:787px) {
	/* form stuff */
	.quick-signup-form form {
		@media (max-width: 787px) {
			// width: 70%;
			// max-width: 400px;
			// height: 100px;
		}
	}
	.quick-signup-form .hs_submit {
		// height: 50%;
		// width: 100%;
	}
	.quick-signup-form .hs_submit div.actions {
		// height: 100%;
		// width: 100%;
	}
	.quick-signup-form .hs_submit input {
		// font-size: 20px;
	}
	.quick-signup-form .hs_email .input label.error {
		// background: #eee;
		// color: #989EA5;
		// padding: 5px 10px 3px;
		// box-sizing: border-box;
		// border-radius: 15px;
		// position: relative;
		// top: -57px;
		// left: 0px;
		// margin: 0;
		// position: relative;
		// display: none;
	}
}

@media (max-width:355px) {
	.quick-signup-form .hs_email .input label.error {
		// font-size: 0.7em!important;
	}
}